NODE_ENV=development
PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/freelancehub
FRONTEND_URL=http://localhost:4200

JWT_SECRET=change_this_to_a_long_random_secret
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change_this_to_another_long_random_secret
JWT_REFRESH_EXPIRES_IN=7d

ADMIN_EMAIL=admin@example.com

PAYMOB_BASE_URL=https://accept.paymob.com
PAYMOB_SECRET_KEY=YOUR_TEST_SECRET_KEY
PAYMOB_PUBLIC_KEY=YOUR_TEST_PUBLIC_KEY
PAYMOB_HMAC_SECRET=YOUR_HMAC_SECRET
PAYMOB_CARD_INTEGRATION_ID=YOUR_TEST_CARD_INTEGRATION_ID

PAYMOB_WEBHOOK_URL=https://YOUR-PUBLIC-URL/api/payments/webhook
PAYMOB_RETURN_URL=http://localhost:4200/wallet

PAYMOB_API_KEY=

GOOGLE_CLIENT_ID=YOUR_GOOGLE_WEB_CLIENT_ID.apps.googleusercontent.com
