NODE_ENV=development
PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/freelancehub
FRONTEND_URL=http://localhost:4200

JWT_SECRET=change_this_to_a_long_random_secret
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change_this_to_another_long_random_secret
JWT_REFRESH_EXPIRES_IN=7d

ADMIN_EMAIL=admin@example.com

FAWRY_MERCHANT_CODE=YOUR_MERCHANT_CODE
FAWRY_SECURE_KEY=YOUR_SECURE_KEY
FAWRY_RETURN_URL=http://localhost:4200/wallet
FAWRY_WEBHOOK_URL=https://YOUR-PUBLIC-URL/api/payments/webhook
